<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthclock.healthclock">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 用于申请调用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 文件系统权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Red">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.login.ForgetPwdActivity" />
        <activity android:name=".ui.activity.login.RegisterProtocolActivity" />
        <activity android:name=".ui.activity.login.PerfectInformationActivity" />
        <activity
            android:name=".ui.activity.login.EditInformationActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.member.IndentActivity" />
        <activity android:name=".ui.activity.member.UserInfoActivity" />
        <activity android:name=".ui.activity.member.EditPhoneActivity" />
        <activity android:name=".ui.activity.member.VideoRecordActivity" />
        <activity android:name=".ui.activity.member.EditPwdActivity" />
        <activity android:name=".ui.activity.member.FeedbackActivity" />
        <activity android:name=".ui.activity.member.MyWalletActivity" />
        <activity android:name=".ui.activity.member.InvitationCodeActivity" />
        <activity android:name=".ui.activity.member.SelectAddressActivity" />
        <activity android:name=".ui.activity.member.EditAddressActivity" />
        <activity android:name=".ui.activity.member.HealthScoreActivity" />
        <activity android:name=".ui.activity.member.HealthManagementActivity" />
        <activity android:name=".ui.activity.member.HealthRecordsActivity" />
        <activity android:name=".ui.activity.login.WelComeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.CustomActivity"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"/>
        -->
        <activity android:name=".ui.activity.main.CodeActivity" />
        <activity android:name=".ui.activity.indent.ConfirmOrderActivity"></activity>
    </application>

</manifest>