<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthclock.healthclock">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 用于申请调用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 文件系统权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Red">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.login.ForgetPwdActivity" />
        <activity android:name=".ui.activity.login.RegisterProtocolActivity" />
        <activity android:name=".ui.activity.login.PerfectInformationActivity" />
        <activity
            android:name=".ui.activity.login.EditInformationActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.member.IndentActivity" />
        <activity android:name=".ui.activity.member.UserInfoActivity" />
        <activity android:name=".ui.activity.member.EditPhoneActivity" />
        <activity android:name=".ui.activity.member.VideoRecordActivity" />
        <activity android:name=".ui.activity.member.EditPwdActivity" />
        <activity android:name=".ui.activity.member.FeedbackActivity" />
        <activity android:name=".ui.activity.member.MyWalletActivity" />
        <activity android:name=".ui.activity.member.InvitationCodeActivity" />
        <activity android:name=".ui.activity.member.SelectAddressActivity" />
        <activity android:name=".ui.activity.member.EditAddressActivity" />
        <activity android:name=".ui.activity.member.HealthScoreActivity" />
        <activity android:name=".ui.activity.member.HealthManagementActivity" />
        <activity android:name=".ui.activity.member.HealthRecordsActivity" />
        <activity android:name=".ui.activity.login.WelComeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.CustomActivity"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"/>
        -->
        <activity android:name=".ui.activity.main.CodeActivity" />
        <activity android:name=".ui.activity.indent.ConfirmOrderActivity" />
        <activity android:name=".wxapi.PayActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".clock.activity.MyAlarmClockActivity" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wei.BC_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".clock.broadcast.AlarmClockBroadcast"
            android:process=":daemon">

            <!-- 广播定义单独进程，在6.0上接受不到，不定义进程退到后台也接受不到。 -->
            <!-- 广播和后台运行的服务保持在一个线程，只要服务不死，这样就都可以接受到广播了 -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
            <!-- </intent-filter> -->
        </receiver>
        <receiver android:name=".clock.broadcast.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".clock.broadcast.AlarmClockProcessReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaku.weac.AlarmClockOff" />
            </intent-filter>
        </receiver>

        <!--
                    <service
                    android:name=".service.NotificationCenter"
                    android:exported="false"
                    android:process=":pushservice">
                </service>
        -->

        <receiver
            android:name=".clock.broadcast.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaku.weac.wake.gray" />
            </intent-filter>
        </receiver>

        <service
            android:name=".clock.service.DaemonService$DaemonInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":daemon" />
        <service
            android:name=".clock.broadcast.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".clock.broadcast.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".clock.service.DaemonService"
            android:exported="true"
            android:process=":daemon" />
        <service android:name=".clock.service.CountDownService" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!--
        <activity
        android:name="com.umeng.fb.ConversationActivity"
        android:theme="@style/Transparent.Light"/>
        -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />
        <service
            android:name=".healthgo.step.StepService"
            android:label="计步服务"></service>

        <receiver
            android:name=".healthgo.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="cn.ikaze.pedometer.start" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".clock.activity.RingSelectActivity" />
        <!-- <activity android:name=".ui.activity.clock.SingleFragmentActivity" /> -->
        <activity android:name=".clock.activity.AlarmClockOntimeActivity" />
        <activity android:name=".clock.activity.AlarmClockEditActivity" />
        <!--
        <activity android:name=".ui.activity.clock.SingleFragmentOrdinaryActivity" />
        <activity android:name=".ui.activity.clock.SingleFragmentDialogActivity" />
        -->
        <activity
            android:name=".clock.activity.AlarmClockNewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".clock.activity.AlarmClockNew01Activity"
            android:launchMode="singleTop" />
        <!-- <activity android:name=".ui.activity.clock.EditAlarmActivity" /> -->
        <activity android:name=".clock.activity.AlarmClockNapNotificationActivity" />
        <activity android:name=".ui.activity.main.MyVideoActivity"></activity>
    </application>

</manifest>